name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

#    services:
#      mongodb:
#        image: mongo:latest
#        env:
#          MONGO_INITDB_ROOT_USERNAME: admin
#          MONGO_INITDB_ROOT_PASSWORD: 123
#        ports:
#          - 27018:27017



    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker
        run: sudo service docker start

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: 'temurin'
          cache: maven

      - name: Install dependencies and run tests
        run: mvn --batch-mode package
        env:
          SPRING_DATA_MONGODB_URI: mongodb://admin:123@localhost:27017/test?authSource=admin